#body-index {
    /*background-color:#b4b7e2;*/
    background-image:url('../img/day1.jpg');
    background-size:cover;
    color:white;
}


#body-jp {
    color: black;
}

#banner {
    /*text-align: end;*/
    font-weight: bold;
    color:white;
    text-align:center;
    text-decoration:none;
    font-size:30px;
    display:flex;
    justify-content: space-between;
}

#banner div a, a:visited {
    color:white;
    text-decoration:none;
}

#menu {
    display:flex;
    justify-content: space-between;
    justify-items: stretch;
    text-justify: distribute;
    width: 50%;
    /*justify-content:space-between;*/
    margin-bottom:30px;
}

#title {
    text-align: center;
    font-size: 45px;
    font-style: italic;
    font-weight: bold;
    font-family: sans serif;
    margin-bottom:40px;
}

#title {

}



#body-Japanese {
    background-image:url('../img/fond-jp3.jpg');
    background-size:100% 100%;
    background-attachment: fixed;
    color:black;
}

#body-French {
    background-image:url('../img/eiffel.jpg');
    background-size:100% 115%;
    background-attachment: fixed;
    color:black;
}

#body-Russian {
    background-image:url('../img/russia2.jpg');
    background-size:100% 100%;
    background-attachment: fixed;
    color:black;
}

content {
    justify-content: center;
    display: flex;
}

hr {
    border-color: #cdc7c7;
    width: 50%;
}

.register-field {
    margin:auto;
    text-align: left;

}

#themelist {
    /*text-align: center;
    background: #d3dde6;
    border-radius: 0.2em;
    padding: 10px;*/
    background: #fffefe;
    border-radius: 0.1em;
    padding: 10px;
    border: solid 1px #cdc7c7;
    box-shadow: 3px 3px #e5e1e1;
}

#themelist a {
    color:black;
    text-decoration:none;
}

content div {
    color:black;
    background-color:white;
    /*margin-left:30%;
    margin-right:30%;*/
    margin-top:20px;
    margin-bottom:30px;
    /*padding-top:3%;
    padding-bottom:3%;*/
    padding : 2% 2% 2% 2%;
    /*padding-left:10%;*/
    text-align:center;
    opacity:0.92;
    width:30%;
}

content div p {
    font-size:25px;
}

.details{
    display:flex;
    justify-content: space-evenly;
    margin: auto;
    padding: 1% 0 0 0;
    width:70%;
}

.details-up {
    width:100%;
}

.details a{
    color:#fffafa;
    text-decoration:none;
}

.word-en {
    color: #706da0;
    font-weight: bold;
}

li {
    font-size: 1.3em;
    list-style-type: none;
}

li span{
    margin-right:5px;
}

.listen {
    color: #393535;
    border: solid 1px #9b9898;
    border-radius: 0.2em;
    padding: 0% 2% 0 2%;
    background: #8e8989;
    font-size: 0.9em;
    margin-bottom: 8.5%;
    box-shadow: 1px 1px #e5e1e1;
}

.repeat {
    color: #fffafa;
    border: solid 1px #9b9898;
    border-radius: 0.2em;
    padding: 0% 9% 2% 9%;
    background: #c87070;
    font-size: 0.9em;
    margin-bottom: 3%;
    box-shadow: 1px 1px #e5e1e1;
    font-family: sans;
    cursor: pointer;
}

.big-button {
    font-size: 20px;
    border-radius: 0.2em;
    padding: 2% 4% 3% 4%;
    color: #524e4e;
}

.small-button {
    font-size: 10px;
    border-radius: 0.2em;
    padding: 2% 4% 3% 4%;
    color: #524e4e;
}

.lang-stats {
    background: #fffefe;
    border-radius: 0.2em;
    padding: 10px;
    border: solid 1px #cdc7c7;
    box-shadow: 3px 3px #e5e1e1;
}

footer {
    text-align:center;
    font-weight:bold;
    color:white;
    margin-top: 5%;
}
