{% load static %}

<HTML>
    <head>
        <title>Listen and learn</title>
        <link href="{% static 'learn/css/style.css' %}" rel="stylesheet">
    </head>

    <body>
        <header>Welcome to SpeakWell</header>
        <hr>
        <content>
            <form action="/learn/" method="get">
                {% csrf_token %}
                <input class="big-button" type="submit" value="START" method="get">
            </form>

            <form action="/learn/" method="get">
                {% csrf_token %}
                <input class="big-button" type="submit" value="LOGIN" method="get">
            </form>
        </content>
        <hr>
        <footer>Designed by OC</footer>
        <script></script>
    </body>