{% load static %}

<HTML>
    <head>
        <title>Listen and learn</title>
        <link href="{% static 'learn/css/style.css' %}" rel="stylesheet">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

    <body id="body-{{lang}}">
        <header>
            <div id="banner">
                <div id="logo">
                    <a href="/learn/home/">Vowell</a>
                </div>
                <div id="menu">
                    <a class="menu" href="/learn/voc/">Vocabulary</a>
                    <a class="menu" href="/learn/quizz/">Quizz</a>
                    <a class="menu" href="/learn/stats/">Stats</a>
                    <!--<a href="#">Parameters</a>-->
                    <a class="menu" href="/learn/log_out/">Logout</a>
                    <a href="javascript:void(0);" class="icon" onclick="showMenu()">
                        <i class="fa fa-bars"></i>
                    </a>
                </div>
            </div>
        </header>


        <content>

            {% block content%}{% endblock %}

        </content>


        <footer>
            <p>Designed by Fatou Sindjeu</p>
            <p><a style="text-decoration: none;color: white;" href="/learn/credits/">Credits</a></p>
        </footer>

        <script src="{% static 'learn/js/dascript.js' %}"></script>
        <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </body>