{% load static %}

<HTML>
    <head>
        <title>Listen and learn</title>
        <link href="{% static 'learn/css/style.css' %}" rel="stylesheet">
    </head>

    <body id="body-{{lang}}">
        <header>
            <div id="banner">
                <div>
                    <a href="/learn/home/">Vowell</a>
                </div>
                <div id="menu">
                    <a href="/learn/voc/">Vocabulary</a>
                    <a href="/learn/quizz/">Quizz</a>
                    <a href="/learn/stats/">Stats</a>
                    <!--<a href="#">Parameters</a>-->
                    <a href="/learn/log_out/">Logout</a>
                </div>
            </div>
        </header>


        <content>

            {% block content%}{% endblock %}

        </content>


        <footer>
            <p>Designed by Fatou Sindjeu</p>
            <p><a style="text-decoration: none;color: white;" href="/learn/credits/">Credits</a></p>
        </footer>

        <script src="{% static 'learn/js/dascript.js' %}"></script>
    </body>