{% load static %}

<HTML>
    <head>
        <title>Listen and learn</title>
        <link href="{% static 'learn/css/style.css' %}" rel="stylesheet">
    </head>

    <body id="body-jp">
        <header>
            <div id="banner">
                <div>
                    <a href="/learn/">Vowell</a>
                </div>
                <div id="menu">
                    <a href="/learn/voc/">Vocabulary</a>
                    <a href="#">Quizz</a>
                    <a href="/learn/stats/">Stats</a>
                    <a href="#">Parameters</a>
                    <a href="/learn/log_out/">Logout</a>
                </div>
            </div>
        </header>


        <content>

            <div>
                <p>You are learning {{ lang }}, {{ message }}.</p>
                <p>Hello, {{ user.username }}</p>

            {% block content%}{% endblock %}

        </content>


        <footer>Designed by OC</footer>
        <script></script>
    </body>