{% extends "learn/base.html" %}

{% block content %}

{% load static %}

<div>

    <p>Hello, {{ user.username }}</p>
    <p>You are currently learning {{ lang }}</p>
    <p>{{ message }}</p>

    <form action="/learn/voc/" method="post">
        {% csrf_token %}
        <input class="big-button" type="submit" value="Vocabulary" method="post">
    </form>
    <form action="/learn/quizz/" method="post">
        {% csrf_token %}
        <input class="big-button" type="submit" value="Quizz" method="post">
    </form>
    <form action="/learn/exe/" method="post">
        {% csrf_token %}
        <input class="big-button" type="submit" value="Exercises" method="post">
    </form>

</div>


{% endblock %}