{% load static %}

<HTML>
    <head>
        <title>Listen and learn</title>
        <link href="{% static 'learn/css/style.css' %}" rel="stylesheet">
    </head>

    <body id="body-index">
        <header id="title">Welcome to SpeakWell</header>

        <content>
            <div>
            <!--
            <form action="/learn/" method="get">
                {% csrf_token %}
                <input class="big-button" type="submit" value="START" method="get">
            </form>

            <form action="/learn/" method="get">
                {% csrf_token %}
                <input class="big-button" type="submit" value="LOGIN" method="get">
            </form>
            !-->


            <!--<p>Bravo, you've pronounced the word {{ word_result }} for {{ word_in }} with a score of {{ score }}!</p>
            <form action="/learn/record/" method="put">
                {% csrf_token %}
                <input type="hidden" name="lang" value="jp" method="post">
                <input class="big-button" type="submit" value="Try it!" method="put">
            </form>
            -->
            <p>{{ message }}</p>
            <p> Choose your language</p>
            <br>
            <form action="/learn/register/" method="post">
                {% csrf_token %}
                <input type="hidden" name="lang" value="jp" method="post">
                <input type="hidden" name="create-user" value="1" method="post">
                <input class="big-button" type="submit" value="Japanese" method="post">
                <img src="{% static 'learn/img/flag-jp.png' %}" width="40px">
            </form>
            <form action="/learn/register/" method="post">
                {% csrf_token %}
                <input type="hidden" name="lang" value="fr" method="post">
                <input type="hidden" name="create-user" value="1" method="post">
                <input class="big-button" type="submit" value="French" method="post">
                <img src="{% static 'learn/img/flag-fr.png' %}" width="40px">
            </form>
            <form action="/learn/register/" method="post">
                {% csrf_token %}
                <input type="hidden" name="lang" value="ru" method="post">
                <input type="hidden" name="create-user" value="1" method="post">
                <input class="big-button" type="submit" value="Russian" method="post">
                <img src="{% static 'learn/img/flag-ru.png' %}" width="40px">
            </form>

            <p>OR</p>

            <form action="/learn/submit_form/" method="post">
                {% csrf_token %}
                LOG IN<br>
                <input type="hidden" name="lang" value="jp" method="post">
                Username <input type="text" name="username" method="post" required> <br>
                Password  <input type="text" name="password" method="post" required><br>
                <input class="big-button" type="submit" value="Continue" method="post">
            </form>

            </div>
        </content>

        <footer>Designed by OC</footer>
        <script></script>
    </body>