{% extends "learn/base.html" %}

{% block content %}

{% load static %}

<div>

    <!--<p>Quizz mode : {{mode}}</p><br>
    <p>Language : {{lang}}</p><br>-->
    <p>Quizz</p>
    <hr>
    <p>{{message}}</p><br>
    <p>Score : {{score}}/{{total}}</p><br>
    <form action="/learn/quizz/" method="post">
        {% csrf_token %}
        <input type="hidden" name="lang" value="{{lang}}" method="post">
        <input type="hidden" name="started" value="1" method="post">
        {% if button == 'Confirm' %}
        <input type="hidden" name="check" value="1" method="post">

        <input type="hidden" name="cur_word" value="{{cur_word.NameEng}}" method="post">
        <input type="hidden" name="word_list" value="{{word_list}}" method="post">
        <input type="hidden" name="responses" value="{{responses}}" method="post">
        <p>What is this word ? :</p>
        <p>{{cur_word.NameHira}}</p>
        <br>
        {{responses.0.NameEng}} <input type="radio" name="response" value="{{responses.0.NameEng}}" method="post"><br>
        {{responses.1.NameEng}} <input type="radio" name="response" value="{{responses.1.NameEng}}" method="post"><br>
        {{responses.2.NameEng}} <input type="radio" name="response" value="{{responses.2.NameEng}}" method="post"><br>
        {{responses.3.NameEng}} <input type="radio" name="response" value="{{responses.3.NameEng}}" method="post"><br>
        {% endif %}
        <br>

        {% if end %}
        <a class="big-link" href="/learn/home" >Back</a>
        {% else %}
        <input class="big-button" type="submit" value="{{button}}" method="post">
        {% endif %}

    </form>
</div>

{% endblock %}