{% extends "learn/base.html" %}

{% block content %}

{% load static %}

<HTML>
    <head>
        <title>Listen and learn</title>
        <link href="{% static 'learn/css/style.css' %}" rel="stylesheet">
    </head>

    <body>
        <header>Welcome to SpeakWell</header>
        <hr>
        <content>
            <p>Quizz mode : {{mode}}</p>
            <p>Language : {{lang}}</p>
            <p>Score : {{score_cur}}/{{num}}</p>
            <form action="/learn/quizz/" method="post">
                {% csrf_token %}
                <input type="hidden" name="lang" value="{{lang}}" method="post">
                <input type="hidden" name="num_curr" value="{{num_curr}}" method="post">
                <p>{{word_to_guess}}</p><br>
                {{word_1}} <input type="radio" name="response" value="{{word_1}}" method="post"><br>
                {{word_2}} <input type="radio" name="response" value="{{word_2}}" method="post"><br>
                {{word_3}} <input type="radio" name="response" value="{{word_3}}" method="post"><br>
                {{word_4}} <input type="radio" name="response" value="{{word_4}}" method="post"><br>
                <input class="big-button" type="submit" value="confirm" method="post">
            </form>
        </content>
        <hr>
        <footer>Designed by OC</footer>
        <script></script>
    </body>

{% endblock %}