{% load static %}

<HTML>
    <head>
        <title>Listen and learn</title>
        <link href="{% static 'learn/css/style.css' %}" rel="stylesheet">
    </head>

    <body id="body-index">
        <header id="title">Welcome to SpeakWell</header>

        <content>

            <div>
                <form action="/learn/submit_form_html/" method="post">
                    {% csrf_token %}
                    <hgroup>
                        <p>You are learning {{ lang }}</p>
                        <h2>Create an account</h2>
                    </hgroup>
                    <input type="hidden" name="create-user" value="1" method="post"> <br><br>
                    <div class="register-field">
                        <label for="username">Username</label>
                        <input type="text" name="username" method="post" minlength="3" maxlength="20" required>
                    </div>
                    <div class="register-field">
                        <label for="password">Password</label>
                        <input type="password" name="password" method="post" minlength="8" maxlength="20" required>(8 characters minimum)
                    </div>
                    <div class="register-field">
                        <label for="email">Email</label>
                        <input type="text" name="email" method="post" required>
                    </div>
                    Display language :<br><br>
                    <input type="radio" name="lang-display" value="English" method="post" required>English
                    <!--<input type="radio" name="lang-display" value="French" method="post" required>French-->
                    <br><br>
                    <input type="hidden" name="lang" value="{{ lang }}" method="post">
                    <input class="big-button" type="submit" value="Create" method="post">
                </form>

            </div>


        </content>

        <footer>Designed by OC</footer>
        <script></script>
    </body>