{% extends "learn/base.html" %}

{% block content %}

{% load static %}

<div>

<p>Here is your progression</p>

{% for prog in progressions %}


    <p>
        <p class="lang-stats">
            Language: {{prog.LangId}}<br><br>
            <!--Progid: {{prog.id}}<br>-->
            Level : {{prog.Level}}<br><br>
            Points : {{prog.Points}}<br><br>
            Words completed : {{prog.WordsLearnt}}<br><br>
            Exercises completed : {{prog.Exelearnt}}<br><br>
            Facts unblocked : {{prog.FunFacts}} <br><br>

        <br>
        {% if prog.IsActive != True %}

        <form action="/learn/home/" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="switch" value="1" method="post">
                    <input type="hidden" name="progid" value="{{ prog.id }}" method="post">
                    <input type="hidden" name="lang" value="{{ prog.LangId}}" method="post">
                    <input class="big-button" type="submit" value="Activate this language" method="post">
        </form>
        {% endif %}
        </p>
    </p>
{% endfor %}


    <!--
    <form action="/learn/switch_language/" method="post">
                {% csrf_token %}
                <input type="hidden" name="create-prog" value="1" method="post">
                <input class="big-button" type="submit" value="Learn a new language" method="post">
                <img src="{% static 'learn/img/flag-fr.png' %}" width="40px">
    </form>
    -->

</div>

{% endblock %}
