{% extends "learn/base.html" %}

{% block content %}

{% load static %}

<div>You are learning {{ lang }}</div>
<hr>

<h2>Themes</h2>

<!--
{% for theme in themes_list %}
    <p>{{ theme.NameEng }}</p>
    <p>Encore un thème</p>
{% endfor %}
-->


{% for theme in words_list %}
    <p>{{ theme.0 }}</p>

    {% for word in theme.1 %}
        <ul>
            <li><span>{{ word.NameEng.NameEng }}</span><span>{{word.NameHira}} </span>
                <span>{{word.NameKata}} </span>
                <span>{{word.NameKanji}} </span>
            <a href="{% static 'learn/audio/hello-jp.mp3' %}">Listen</a>

            <!--<audio src="{% static 'learn/audio/hello-jp.mp3' %}" style="display:none;">Listen</audio>
            <span>Listen slowly</span> <span>Repeat</span></li>

            <form action="/learn/record/" method="post">
                {% csrf_token %}
                <input type="hidden" name="lang" value="{{ lang }}" method="post">
                <input class="big-button" type="submit" value="Try it!" method="post">
            </form>
            -->
        </ul>
    {% endfor %}
    <hr>

{% endfor %}




<!--
<p>Presentation</p>
<ul>

    {% for word in words_list %}
    <li><span>{{ word.NameEng.NameEng }}</span><span>{{word.NameHira}} </span>
        <!--<a href="{% static 'learn/audio/hello-jp.mp3' %}">Listen</a>
        <audio src="{% static 'learn/audio/hello-jp.mp3' %}" style="display:none;">Listen</audio>
        <span>Listen slowly</span> <span>Repeat</span></li>
    {% endfor %}
</ul>

<p>Colours</p>
<ul>
    <li>Yellow</li>
    <li>Blue</li>
    <li>Red</li>
</ul>




<form action="/learn/voc/" method="post">
    {% csrf_token %}
    Themes
    <input type="hidden" name="lang" value="{{ lang }}" method="post">
    <input class="big-button" type="submit" value="Vocabulary" method="post">
</form>

-->

{% endblock %}