{% extends "learn/base.html" %}

{% block content %}

{% load static %}
{% load learn_tags %}

<div id="div-voc">

    <!--
    <div>You are learning {{ lang }}</div>
    <hr>
    -->
    <!--
    {% for theme in themes_list %}
        <p>{{ theme.NameEng }}</p>
        <p>Encore un thème</p>
    {% endfor %}
    -->
    <div id="themelist">
        <h2 class="dat-h2">Themes</h2>
        <p id="themes">
    {% for theme in words_list %}
            <i class="fa fa-angle-right"></i>
        <a href="#{{ theme.0 }}">{{ theme.0 }}</a>
        <br>
    {% endfor %}
        </p>
        <p>{{error}}</p>
    </div>
    <hr class="hr-full">


    {% for theme in words_list %}
        <p id="{{ theme.0 }}" style="font-weight:bold;color:#725555;">{{ theme.0 }}</p>

        {% for word in theme.1 %}
            <ul style="padding-left: 0;">
                {% if lang == 'Japanese' %}
                <li><div class="details details-up" style="margin-bottom: -4%;">
                        <span class="word-en">{{ word.NameEng.NameEng }}</span>
                        <span>{{word.NameHira}} </span>
                        <span>{{word.NameKata}} </span>
                        <span>{{word.NameKanji}} </span>
                    </div>
                    <br>
                    <div class="details" style="margin-bottom: 6%;">
                        {%  getfilejp word.NameEng.NameEng as file %}
                        <!--<p>The associated file is {{ file }}</p>-->
                        <!--<a href="{% static 'learn/audio/jp/hello-jp.mp3' %}" style="color: black;" target="_blank" >Listen</a>-->
                        <!-- génial : <a href="{% static file %}" class="listen" target="_blank" >Listen</a>-->
                        <a href="#" class="listen" onclick="playAudio('{{file}}');return false;">Listen</a>
                        <audio id="{{file}}" src="{{MEDIA_URL}}{{file}}" >Listen</audio>
                        <!--<audio id="{{file}}" src="{% static file %}" >Listen</audio>-->
                        <!--
                        <form action="/learn/record/" method="post">
                        {% csrf_token %}
                            <input type="hidden" name="lang" value="jp" method="post">
                            <input type="hidden" name="word_eng" value="{{word.NameEng.NameEng}}" method="post">
                            <input type="hidden" name="word_hira" value="{{word.NameHira}}" method="post">
                            <input type="hidden" name="word_kanji" value="{{word.NameKanji}}" method="post">
                            <input class="repeat" type="submit" value="Repeat" method="post">
                        </form>
                        -->
                        <button class="repeat" id="start-{{word.NameEng.NameEng}}" onclick="recordAudio('{{word.NameEng.NameEng}}','jp','{{word.NameHira}}', '{{word.NameKanji}}');">Repeat</button>
                        <button class="repeat" id="stop-{{word.NameEng.NameEng}}">Stop</button>

                        {% if word.id in words_done  %}
                        <img src="{% static 'learn/img/green-button.png' %}" style="width: 10%;max-width:25px;">
                        {% else %}
                        <img src="{% static 'learn/img/grey-button.png' %}" style="width: 10%;max-width:25px;">
                        {% endif %}
                        </div>
                    </li>

                {% elif lang == 'French' %}
                <li>
                    <div class="details details-up" style="margin-bottom: -4%;">
                        <span class="word-en">{{ word.NameEng.NameEng }}</span>
                        <span>{{word.Name}} </span>
                    </div>
                    <br>
                    <div class="details" style="margin-bottom: 6%;">
                        {%  getfilefr word.NameEng.NameEng as file %}
                        <!--<p>The associated file is {{ file }}</p>-->
                        <!--<a href="{% static 'learn/audio/jp/hello-jp.mp3' %}" style="color: black;" target="_blank" >Listen</a>-->
                        <a href="#" class="listen" onclick="playAudio('{{file}}');return false;">Listen</a>
                        <audio id="{{file}}" src="{{MEDIA_URL}}{{file}}" >Listen</audio>
                        <!--
                        <form action="/learn/record/" method="post">
                        {% csrf_token %}
                            <input type="hidden" name="lang" value="jp" method="post">
                            <input type="hidden" name="word_eng" value="{{word.NameEng.NameEng}}" method="post">
                            <input type="hidden" name="word_fr" value="{{word.Name}}" method="post">
                            <input class="repeat" type="submit" value="Repeat" method="post">
                        </form>
                        -->
                        <button class="repeat" id="start-{{word.NameEng.NameEng}}" onclick="recordAudio('{{word.NameEng.NameEng}}','fr','{{word.Name}}');">Repeat</button>
                        <button class="repeat" id="stop-{{word.NameEng.NameEng}}">Stop</button>

                        {% if word.id in words_done  %}
                        <img src="{% static 'learn/img/green-button.png' %}"  style="width: 10%;max-width:25px;">
                        {% else %}
                        <img src="{% static 'learn/img/grey-button.png' %}"  style="width: 10%;max-width:25px;">
                        {% endif %}
                    </div>
                </li>


                {% elif lang == 'Russian' %}
                <li>
                    <div class="details details-up" style="margin-bottom: -4%;">
                        <span class="word-en">{{ word.NameEng.NameEng }}</span>
                        <span>{{word.NameRu}} </span>
                        <span>{{word.NameRoma}} </span>
                    </div>
                    <br>
                    <div class="details" style="margin-bottom: 6%;">
                        {%  getfileru word.NameEng.NameEng as file %}
                        <!--<p>The associated file is {{ file }}</p>-->
                        <!--<a href="{% static 'learn/audio/jp/hello-jp.mp3' %}" style="color: black;" target="_blank" >Listen</a>-->
                        <a href="#" class="listen" onclick="playAudio('{{file}}');return false;">Listen</a>
                        <audio id="{{file}}" src="{{MEDIA_URL}}{{file}}" >Listen</audio>
                        <!--
                        <form action="/learn/record/" method="post">
                        {% csrf_token %}
                            <input type="hidden" name="lang" value="jp" method="post">
                            <input type="hidden" name="word_eng" value="{{word.NameEng.NameEng}}" method="post">
                            <input type="hidden" name="word_ru" value="{{word.NameRu}}" method="post">
                            <input type="hidden" name="word_roma" value="{{word.NameRoma}}" method="post">
                            <input class="repeat" type="submit" value="Repeat" method="post">
                        </form>
                        -->
                        <button class="repeat" id="start-{{word.NameEng.NameEng}}" onclick="recordAudio('{{word.NameEng.NameEng}}','ru','{{word.NameRu}}', '{{word.NameRoma}}');">Repeat</button>
                        <button class="repeat" id="stop-{{word.NameEng.NameEng}}">Stop</button>

                        {% if word.id in words_done  %}
                        <img src="{% static 'learn/img/green-button.png' %}" style="width: 10%;max-width:25px;">
                        {% else %}
                        <img src="{% static 'learn/img/grey-button.png' %}" style="width: 10%;max-width:25px;">
                        {% endif %}
                    </div>
                </li>

                {% endif %}

                <!--<audio src="{% static 'learn/audio/hello-jp.mp3' %}" style="display:none;">Listen</audio>
                <span>Listen slowly</span> <span>Repeat</span></li>

                <form action="/learn/record/" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="lang" value="{{ lang }}" method="post">
                    <input class="big-button" type="submit" value="Try it!" method="post">
                </form>
                -->
            </ul>
        {% endfor %}
        <hr>

    {% endfor %}

</div>




<!--
<p>Presentation</p>
<ul>

    {% for word in words_list %}
    <li><span>{{ word.NameEng.NameEng }}</span><span>{{word.NameHira}} </span>
        <!--<a href="{% static 'learn/audio/hello-jp.mp3' %}">Listen</a>
        <audio src="{% static 'learn/audio/hello-jp.mp3' %}" style="display:none;">Listen</audio>
        <span>Listen slowly</span> <span>Repeat</span></li>
    {% endfor %}
</ul>

<p>Colours</p>
<ul>
    <li>Yellow</li>
    <li>Blue</li>
    <li>Red</li>
</ul>




<form action="/learn/voc/" method="post">
    {% csrf_token %}
    Themes
    <input type="hidden" name="lang" value="{{ lang }}" method="post">
    <input class="big-button" type="submit" value="Vocabulary" method="post">
</form>

-->

{% endblock %}