{% extends "learn/base.html" %}

{% block content %}

{% load static %}
{% load learn_tags %}


    <!--
    <div>You are learning {{ lang }}</div>
    <hr>
    -->
    <h2>Themes</h2>

    <!--
    {% for theme in themes_list %}
        <p>{{ theme.NameEng }}</p>
        <p>Encore un thème</p>
    {% endfor %}
    -->
    <p>Words done : {{words_done}}</p>
    <p id="themelist">
    {% for theme in words_list %}
        <a href="#{{ theme.0 }}">{{ theme.0 }}</a>
        <br>
    {% endfor %}
    </p>

    <hr>

    {% for theme in words_list %}
        <p id="{{ theme.0 }}" style="font-weight:bold;">{{ theme.0 }}</p>

        {% for word in theme.1 %}
            <ul>
                <li><span>{{ word.NameEng.NameEng }}</span><span>{{word.NameHira}} </span>
                    <span>{{word.NameKata}} </span>
                    <span>{{word.NameKanji}} </span>
                    <br>
                    <p class="details">
                        {%  getfilejp word.NameEng.NameEng as file %}
                        <!--<p>The associated file is {{ file }}</p>-->
                        <!--<a href="{% static 'learn/audio/jp/hello-jp.mp3' %}" style="color: black;" target="_blank" >Listen</a>-->
                        <a href="{% static file %}" style="color: black;" target="_blank" >Listen</a>
                        <form action="/learn/record/" method="post">
                        {% csrf_token %}
                            <input type="hidden" name="lang" value="jp" method="post">
                            <input type="hidden" name="word_eng" value="{{word.NameEng.NameEng}}" method="post">
                            <input type="hidden" name="word_hira" value="{{word.NameHira}}" method="post">
                            <input type="hidden" name="word_kanji" value="{{word.NameKanji}}" method="post">
                            <input class="small-button" type="submit" value="Repeat" method="post">
                        </form>
                        {% if word.id in words_done  %}
                        <img src="{% static 'learn/img/green-button.png' %}" width="20px">
                        {% else %}
                        <img src="{% static 'learn/img/grey-button.png' %}" width="20px">
                        {% endif %}
                    </p>
                </li>
                <!--<audio src="{% static 'learn/audio/hello-jp.mp3' %}" style="display:none;">Listen</audio>
                <span>Listen slowly</span> <span>Repeat</span></li>

                <form action="/learn/record/" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="lang" value="{{ lang }}" method="post">
                    <input class="big-button" type="submit" value="Try it!" method="post">
                </form>
                -->
            </ul>
        {% endfor %}
        <hr>

    {% endfor %}

</div>




<!--
<p>Presentation</p>
<ul>

    {% for word in words_list %}
    <li><span>{{ word.NameEng.NameEng }}</span><span>{{word.NameHira}} </span>
        <!--<a href="{% static 'learn/audio/hello-jp.mp3' %}">Listen</a>
        <audio src="{% static 'learn/audio/hello-jp.mp3' %}" style="display:none;">Listen</audio>
        <span>Listen slowly</span> <span>Repeat</span></li>
    {% endfor %}
</ul>

<p>Colours</p>
<ul>
    <li>Yellow</li>
    <li>Blue</li>
    <li>Red</li>
</ul>




<form action="/learn/voc/" method="post">
    {% csrf_token %}
    Themes
    <input type="hidden" name="lang" value="{{ lang }}" method="post">
    <input class="big-button" type="submit" value="Vocabulary" method="post">
</form>

-->

{% endblock %}